:root {
  --primary-white-color: #ffffff;
  --secondary-white-color: #f5f4fa;
  --footer-hero-color: #2f303a;
  --accent-color: #2196f3;
  --main-title-color: #212121;
  --primary-text-color: #757575;
}
body {
  color: var(--primary-text-color);
  font-family: "Roboto", "Montserrat", sans-serif;
}
h1,h2,h3,h4,h5,h6,p,ul{
margin: 0;
}
ul{padding-left: 0;}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
img{display: block;}

.container{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin:0 auto ;
  outline:1px solid red;
}
/*----------------------------------- header----------------------------------------------*/
.header {
  background-color: var(--primary-white-color);
  padding-top: 24px;
  padding-bottom: 25px; }
  .header-flex{display: flex;
    align-items: center;}

  .header-list{display: flex;}
  .header-mt{display: flex;
    margin-left: auto;}


  

  

  .header-item+.header-item{margin-left: 50px;}
  .haeder-tel-item{margin-left: 50px;}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 93px;
}

.logo-dark {
  color: #000000;
}
.logo-light {
  
  color: var(--primary-white-color);
}
.header-link{padding-top: 32px;
            padding-bottom: 32px;
              display: block;}
.header-link,
.header-mail-link,
.header-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-mail-link,
.header-tel-link {
  color: inherit;
}
.header-mail-link:hover,
.header-mail-link:focus {
  color: var(--accent-color);
}

.header-tel-link:hover,
.header-tel-link:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}
.section{
  padding-top: 94px;
  padding-bottom: 94px;
}
/*----------------------------------hero-------------------------------------------------*/
.hero {
  background-color: var(--footer-hero-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
 
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
  margin: 0 auto;
  display: block;
}
.hero-btn:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/*----------------------------------------------------peculiarities-----------------------------------*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.peculiarities-list{
  display: flex;
  margin-left: -30px;
}
.peculiarities-item{
  max-width: 270px;
  margin-left: 30px;
}
.peculiarities-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 10px;
}

.peculiarities-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/*-----------------------------------------------work----------------------------------------------*/
.work-list{
  display: flex;
  margin-left: -30px;
  flex-wrap: wrap;
 
}
.work-item{
  flex-basis:calc(100% / 3 - 30px);
  margin-left: 30px;

  }
  
.work-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 50px;
}
/*-------------------------------------------team------------------------------------------------*/

.team {
  background-color: var(--secondary-white-color);
}
.team-list{
  display: flex;
  margin-left: -30px;
  flex-wrap: wrap;
}
.team-item{
  flex-basis:calc(100%/4 - 30px);
  margin-left: 30px;
}
.team-img{
  margin-bottom: 30px;
 
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

/*--------------------------------------------------------footer--------------------------------------------*/

.footer {
  background-color: var(--footer-hero-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo{
  display:block;
 
margin-bottom: 20px;}
a.adress-link {
  color: var(--primary-white-color);
}
.adress-link,
.adress-mail-link,
.adress-tel-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.adress-link,
.adress-mail-link{
  display: block;
  margin-bottom: 9px;}

.adress-mail-link:hover,
.adress-mail-link:focus,
.adress-tel-link:hover,
.adress-tel-link:focus {
  color: var(--primary-white-color);
}
/*----------------------------------------------------Portfolio-----------------------------------------*/

.btn {
  font-family: inherit;
  background-color: var(--secondary-white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--secondary-white-color);
}
.port-list{display: flex;
flex-wrap: wrap;
margin-left: -30px;
margin-bottom: -30px;
 }

.port-item{margin-left: 30px;
  margin-bottom: 30px;
          flex-basis: 100%/3 - 30px;}

.port-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}
 .port-second-title{
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
